<mat-card class="example-card">
  <mat-card-header >
    <mat-card-title><b>New Person Registration</b></mat-card-title>
    <mat-card-subtitle>For Creating a new Person in the database</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content class='colo'>
  	<mat-divider></mat-divider>
  	<br>
    <form class="example-form" (ngSubmit)="onSubmit()" id="ngForm" #documentEditForm="ngForm"> 
		  <table class="example-full-width" cellspacing="0">
		  <tr>
		    <td width="50%"><mat-form-field class="example-full-width">
		      <input matInput #idno maxlength="7" placeholder="ID Number" value="18+(system generated)"  name="idno" style="color:red" disabled="disabled">
		      <mat-hint align="start"></mat-hint>
		    </mat-form-field></td>
		  	<td style="padding-left: 10px">
		  	<mat-form-field class="example-full-width">
		      <input matInput placeholder="LR Number" value="" [(ngModel)]="options.value.lrno" name="lrno" required>
		    </mat-form-field>
		  	</td>
		  </tr>
		  </table>


		  <table class="example-full-width" cellspacing="0"><tr>
		    <td><mat-form-field class="example-full-width2">
		      <input matInput placeholder="First Name" [(ngModel)]="options.value.fname" name="fname" required>
		    </mat-form-field></td>
		    <td><mat-form-field class="example-full-width2">
		      <input matInput placeholder="Middle Name" [(ngModel)]="options.value.mname" name="mname">
		    </mat-form-field></td>
		    <td><mat-form-field class="example-full-width2">
		      <input matInput placeholder="Last Name" [(ngModel)]="options.value.lname" name="lname" required>
		    </mat-form-field></td>
		    <td><mat-form-field class="example-full-width3">
		      <input matInput placeholder="Suffix" [(ngModel)]="options.value.suffix" name="suffix" >
		    </mat-form-field></td>
		  </tr></table>



		  <table class="example-full-width" cellspacing="0"><tr>
		    <td>
			  <mat-form-field>
			    <mat-select required [(ngModel)]="options.value.gender" name="gender">
			      <mat-option>Male</mat-option>
			      <mat-option value="option">Female</mat-option>
			    </mat-select>
			    <mat-label>Gender</mat-label>
			  </mat-form-field></td>
			  <td>
			  <mat-form-field>
			    <mat-select required [(ngModel)]="options.value.cstatus" name="cstatus">
			      <mat-option value="S">Single</mat-option>
			      <mat-option value="M">Married</mat-option>
			      <mat-option value="W">Widow</mat-option>
			    </mat-select>
			    <mat-label>Civil Status</mat-label>
			  </mat-form-field></td>
		    <td><mat-form-field>
				  <input readonly matInput [matDatepicker]="picker" placeholder="Birth Date" (click)="picker.open()"  [(ngModel)]="options.value.bdate" name="bdate" required>
				  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				  <mat-datepicker #picker></mat-datepicker>
				</mat-form-field></td>
		  </tr></table>
		</form>
  <mat-divider></mat-divider><br>
	  <button mat-raised-button (click)="clear()">Clear</button>
	  <button mat-raised-button color="primary" form="ngForm">Submit</button><br>&nbsp;
  </mat-card-content>
</mat-card>