<img src="assets/955.JPG" style=" display: block;
    margin-left: auto;
    margin-right: auto;">
    <mat-divider></mat-divider>
    <h3 style="text-align: center">WHAT IS HTTPS & SSL CERTIFICATE?</h3>
<div class="offer-table ssl-offer-list" style="display: table;width: 100%">
    <div class="offer-div" style="margin-bottom: 10px;width: 50%;float: left">
        <div class="pricing-table2">
                            <img src="https://d2599kud7uucku.cloudfront.net/themes/h2/img/sslPromo/ssl-red-photo.png?v=8.3.8" alt="sad dragon inside internet browser"  style=" display: block;
    margin-left: auto;
    margin-right: auto;">
                        <div style="text-align: center; font-weight: 600">
                <h3 style="font-weight: 600">WEBSITE WITH NO SSL</h3>
            </div>
            <div class="pricing-letter" style="padding-bottom: 0; margin-bottom: 20px; text-align: left"></div>
            <ul class="text-left">
                <li><b>Bad user experience</b> of your site</li>
                <li>Visitors see <b>"Not secure"</b> warning</li>
                <li>No data encryption used</li>
                <li>Website is vulnerable</li>
                <li>Low visitors trust</li>
                <li>No green padlock in address bar</li>
                <li>Low SEO ranking</li>
            </ul>
        </div>
    </div>
    <div class="offer-div" style="margin-bottom: 10px;width: 50%;float: left">
        <div class="pricing-table2">
                            <img src="https://d2599kud7uucku.cloudfront.net/themes/h2/img/sslPromo/ssl-green-photo.png?v=8.3.8" alt="happy dragon inside internet browser">
                        <div style="text-align: center; font-weight: 600">
                <h3 style="font-weight: 600">LIFETIME SSL SECURITY</h3>
            </div>
            <div class="pricing-letter" style="padding-bottom: 0; margin-bottom: 20px; text-align: left"></div>
            <ul class="text-left">
                <li><b>Domain Validation</b> (DV) certificate</li>
                <li><b>Encrypted</b> client-server <b>connection</b></li>
                <li>Sensitive data <b>secured</b></li>
                <li><b>Accept payments</b> safely</li>
                <li><b>Green padlock</b> in address bar</li>
                <li><b>Professional</b> look</li>
                <li>High visitors <b>trust</b> and <b>loyalty</b></li>
                <li>Make <b>more sales</b> with higher conversion rate</li>
                <li><b>Boost SEO</b> - improve your page-rank</li>
                <li><b>One time</b> fee</li>
            </ul>
        </div>
    </div>
</div>