
#billing {
    border-collapse: collapse;
    width: 100%;
}

#billing td, #billing th {
    border: 1px solid #ddd;
    padding: 8px;
}

#billing tr:nth-child(even){background-color: #f2f2f2;}

#billing tr:hover {background-color: #ddd;}

#billing th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    }