<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="assets/1kh.png" height="50px">

  
    <span class="example-spacer"></span>
    
    <!--<button mat-button>About</button>
    <button mat-button routerLink="main">Services</button>-->
    <a href="https://mail.google.com/mail/u/0/?logout&hl=en" mat-button><button mat-button>
      <mat-icon>input</mat-icon> Log out</button></a>
    <!--<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
  </button>-->
  <!--<mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span> Logout</span>
    </button>
  </mat-menu>-->
  </mat-toolbar-row> 
</mat-toolbar>


<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened="true"  #drawer>
  	<div style="" id="coverp">
	<img src="{{userdata.image}}" width="100" id="photop">
	<div style="" id="fullname">
		{{ userdata.name }} 
	</div>
	</div>
  	<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="material-icons iconsize" >event_seat</i><b style="margin-top: 4px"> &nbsp;1kHosting</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    	<mat-list>
		  <mat-list-item><button mat-button  [routerLink]="['../main',{outlets:{div:'billing'}}]" >Billing</button></mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item><button mat-button  [routerLink]="['../main',{outlets:{div:'ssl'}}]" >SSL</button></mat-list-item>
      <mat-divider></mat-divider><!--
      <mat-list-item><button mat-button >Help</button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><button mat-button >Offerss</button></mat-list-item>-->
		</mat-list>
  </mat-expansion-panel>


</mat-accordion>
  </mat-drawer>
  <mat-drawer-content>
  	<div style="margin-left: 10px;margin-top: 8px;" class="hnav">

    <button  mat-button color="primary" (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>

  	<button mat-button [routerLink]="['../main',{outlets:{div:'home'}}]"  color="primary" style="min-width: 10px;width: auto;"><mat-icon>dashboard</mat-icon> Dashboard &nbsp;</button>

</div>
  	<mat-card class="matcontainer" style="padding: 0"> 

    <router-outlet name="div"></router-outlet>
		
  	</mat-card></mat-drawer-content>
</mat-drawer-container>
