<div style="padding:20px">
  <mat-card>
  	<h3>Hosting</h3>
  	<mat-divider></mat-divider>
  	<br>
  	<div  *ngIf="property[0].message!='failed'" >
	<table style="width: 100%"  *ngFor="let properties of property">
		
		<tr>
			<td rowspan="2" style="width:90px">
				<img src="assets/hosting.png" width="75"></td>
			<td style="padding: 0 !important"><h3 style="margin: 20px 0 0 0">{{properties.domain}}</h3></td>
			<td rowspan="2">&nbsp;<span class="example-spacer"></span>
			
				<button mat-raised-button style="float: right;margin-top:20px;height: 40px;border-color: #000;border-style: solid;border-width: thin;"  disabled="disabled"> <mat-icon>email</mat-icon> Email</button>	
				<button mat-raised-button style="float: right;margin-top:20px;height: 40px;border-color: #000;border-style: solid;border-width: thin;" (click)="database(properties)"> <mat-icon>vertical_split</mat-icon> Database</button>
				<button mat-raised-button style="float: right;margin-top:20px;height: 40px;border-color: #000;border-style: solid;border-width: thin;" (click)="ftp(properties)"> <mat-icon>assignment_ind</mat-icon> FTP</button>
			</td>
		</tr>
		<tr>
			<td style="padding: 0 !important"><p style="margin: 0 0 10px 0">Expires in: {{properties.expires | date}}</p></td>
		</tr>
	</table>
	</div>
	
  </mat-card>

  <mat-card>
  	<h3>Domain</h3>
  	<mat-divider></mat-divider>
  	<br>
	
  	<div  *ngIf="property[0].message!='failed'">
	<table style="width: 100%" *ngFor="let properties of property" >
		<tr>
			<td rowspan="2" style="width:90px">
				<img src="assets/domain.png" width="75"></td>
			<td style="padding: 0 !important"><h3 style="margin: 20px 0 0 0">{{properties.domain}}</h3></td>
			<td rowspan="2"></td>
		</tr>
		<tr>
			<td style="padding: 0 !important"><p style="margin: 0 0 10px 0">Expires in: {{properties.expires | date}}</p></td>
		</tr>
	</table>
	</div>
	
  </mat-card>
</div>